body
{
    font-family: Tahoma;
    color: white;
}
#header-1,
#header-3,
#header-4
{
    background-color: #983713;
    width: 17%;
    height: 100px;
}
#header-2
{
    background-color: #983713;
    width: 49%;
    height: 100px;
    text-align: center;
}
#left
{
    background-color: #FF7F50;
    width: 80%;
    height: 500px;
}
#right
{
    background-color: #FF7F50;
    width: 20%;
    height: 500px;
}
footer
{
    background-color: #983713;
    text-align: right;
}
button
{
    background-color: #D3D3D3;
    color: #2F2F2F;
    border: 2px solid #2F2F2F;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
input
{
    color: orange;
}
#header-1,
#header-2,
#header-3,
#header-4
{
    float: left;
}
#left
{
    float: left;
}
#right
{
    float: left;
}
footer
{
    clear: both;
}