body
{
    font-family: Helvetica;
}
#header-left,
#left
{
    background-color: rgb(130,69,85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
}
#header-right,
#right
{
    background-color: rgb(130,69,85);
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
}
main,
footer
{
    background-color: rgb(240,234,226);
    padding: 120px;
}
table,
td
{
    border: 1px solid rgb(130,69,85);
    color: rgb(130,69,85);
    padding: 10px;
}
a
{
   color: rgb(240,234,226);
}
#header-left,
#header-right
{
    float: left;
}
#left,#right
{
    float: left;
}
main
{
    clear: both;
}
footer
{
    clear: both;
}
