body
{
    font-family: Arial;
}
#header1
{
    background-color: #483D8B;
    height: 150px;
    width: 30%;
}
#header2
{
    background-color: #483D8B;
    color: white;
    height: 150px;
    width: 70%;
}
.skr
{
    background-color: #AFEEEE;
    width: 150px;
    height: 100px;
    margin: 3px;
    border: 1px solid;
    
    float: left;
}
footer
{
    background-color: #483D8B;
    color: white;
    padding: 10px;
    clear: both;
}
h5
{
    text-align: center;
}
#header1,
#header2
{
    float: left;
}
main
{
    clear: both;
}