body
{
    font-family: Garamond;
}
#header-left,
#header-right
{
    background-color: rgb(95,158,160);
    color: yellow;
    width: 20%;
    height: 90px;
    text-align: right;
}
#header-mid
{
    background-color: rgb(95,158,160);
    color: yellow;
    width: 60%;
    height: 90px;
    text-align: right;
}
#left,
#right
{
    background-color: rgb(175,238,238);
    width: 50%;
    height: 250px;
}

main
{
    background-color: rgb(95,158,160);
    padding: 30px;
}
footer
{
    background-color: rgb(175,238,238);
    padding: 10px;
}
table
{
    border: 2px dotted green;
    width: 100%;
    border-collapse: collapse;
}
td
{
    border: 2px dotted green;
}
th
{
    border: 2px dotted green;
    background-color: green;
    color: yellow;
}
#header-left,
#header-mid,
#header-right,
#left,
#right
{
    float: left;
}