body
{
    font-family: Georgia;
}
#header-1,
#header-2,
#header-3,
#footer-1,
#footer-2,
#footer-3
{
    background-color: Sienna;
    color: white;
    height: 150px;
    float: left;
}
#header-1,
#footer-1
{
    width: 40%;
}
#header-2,
#footer-2
{
    width: 50%;
    font-size: 150%;
}
#header-3,
#footer-3
{
    width: 10%;
    text-align: center;
}
main
{
    clear: both;
    background-color: Tan;
    padding: 100px;
}
a
{
    border: 1px dashed sienna;
    color: sienna;
    background-color: Tan;
    padding: 40px;
    line-height: 150px;
}
li
{
    list-style-type: circle;
}